


	<tr class = "row">
	<td> <%= f.text_field :lane %></td>
    <td><%= f.text_field :sampleId %></td>
	<td><%= f.text_field :sampleRef %></td>
    <td><%= f.text_field :index %></td>
	<td><%= f.text_field :description %></td>
	<td> <%= f.text_field :control %></td>
	 <td><%= f.text_field :receipe %></td>
     <td><%= f.text_field :operator %></td>
     <td><%= f.text_field :sampleProject %></td>  
    </tr>







