<%= form_for(@rin) do |f| %>
  <% if @rin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rin.errors.count, "error") %> prohibited this rin from being saved:</h2>

      <ul>
      <% @rin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :measure %><br>
    <%= f.text_field :measure %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
