<p id="notice"><%= notice %></p>

<p>
  <strong>Measure:</strong>
  <%= @rin.measure %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rin.date %>
</p>

<%= link_to 'Edit', edit_rin_path(@rin) %> |
<%= link_to 'Back', rins_path %>
