
<p>
  <strong>Fcid:</strong>
  <%= @sample_sheet.fcid  if @sample_sheet.fcid %><br />
  <strong>Lane:</strong>
  <%= @sample_sheet.lane if @sample_sheet.lane %><br />
  <strong>Sampleid:</strong>
  <%= @sample_sheet.sampleId if @sample_sheet.sampleId %><br />
 <strong>Sampleref:</strong>
  <%= @sample_sheet.sampleRef if @sample_sheet.sampleRef %><br />
<strong>Index:</strong>
  <%= @sample_sheet.index if @sample_sheet.index %><br />
 <strong>Description:</strong>
  <%= @sample_sheet.description if @sample_sheet.description %><br />
  <strong>Control:</strong>
  <%= @sample_sheet.control if @sample_sheet.control %><br />
<strong>Receipe:</strong>
  <%= @sample_sheet.receipe if @sample_sheet.receipe %><br />
  <strong>Operator:</strong>
  <%= @sample_sheet.operator if @sample_sheet.operator %><br />
  <strong>Sampleproject:</strong>
  <%= @sample_sheet.sampleProject if @sample_sheet.sampleProject %><br />
</p>


