<%= form_for(@grading) do |f| %>
  <% if @grading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grading.errors.count, "error") %> prohibited this grading from being saved:</h2>

      <ul>
      <% @grading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tumor_histopathological_grade %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "send"%>
  </div>
<% end %>
