   <p><%= f.label :proteinuria %> <%= f.text_field :proteinuria %> mg/dl</p>
  <p><%= f.label :creatinuria %> <%= f.text_field :creatinuria %> mg/dl</p>
  <p><%= f.label :ematuria %> <%= f.text_field :ematuria %></p>

 
 

