<head>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
    <!-- Optional theme -->
     <link href="vendor/assets/stylesheets/bootstrap-tokenfield.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.1/typeahead.bundle.min.js"></script>
  <script src="vendor/assets/javascripts/bootstrap-tokenfield.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js" ></script> 
  <script src="vendor/assets/javascripts/bootstrap-tokenfield.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js" ></script> 
       <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
   <script type="text/javascript" src="http://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>


  </head> 
    <body>
	
<div id="scrollable-dropdown-menu" class="col-md-8">
  
 <%= form_tag microrna_patients_path, :method => :get do %><%= text_field_tag :query_microrna_patient, 
 	params[:query_microrna_patient], autocomplete: "off", placeholder: "search" %>
 	</div>
<%= submit_tag "   Search   ", :name => nil %>
<% end %>
<% 2.times do %> 
<br></br>
  <% end %> 
	 <div class="col-md-8"></div>
<div><%= link_to 'New patient', new_microrna_patient_path %></div>




  
<div class="col-md-8">
<table id="myTable" class="table table-striped"><head>
  <thead>
    <tr>
      <th>Codice</th>
      <th>Data di Nascita</th>
      <th>Sesso</th>
      <th>Dolore addominale</th>
      <th>Artalgia</th>
      <th>Artrite</th>
      <th>Altro</th>
      <th>Esame urine patologico</th>
      <th>Stick urine patologico</th>
      <th>microRNA</th>
      <th>DNA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microrna_patients.each do |microrna_patient| %>
      <tr>
        <td><%= microrna_patient.idCode %></td>
        <td><%= microrna_patient.datebirth %></td>
        <td><%= microrna_patient.gender %></td>
        <td><%= microrna_patient.addpain %></td>
        <td><%= microrna_patient.artalgia %></td>
        <td><%= microrna_patient.artrite %></td>
        <td><%= microrna_patient.more if microrna_patient.more? %></td>
        <td>
        	<% if microrna_patient.urin?  %> 
        		<% for test in microrna_patient.pathologicalurins %>
  					<% if test.proteinuria.to_f > 0 %>
    					<p>proteinuria: <%= test.proteinuria %> mg/dl</p>
    				<% end %>
    				<% if test.creatinuria.to_f > 0 %>
    					<p>creatinuria: <%= test.creatinuria %> mg/dl</p>
    					<p>proteinura/creatinuria: <%= (test.proteinuria.to_f / test.creatinuria.to_f) %></p>
    				<% end %>
    				<% if test.ematuria.to_f > 0 %>
   					<p>ematuria: <%= test.ematuria %></p>
    				<% end %>
  				
            	<% end %>
            <% else %> NO <% end %>
            </td>
            
             <td>
        	<% if microrna_patient.stick?  %> 
        		<% for test in microrna_patient.stickurins %>					
    					<p>proteinuria: <%= test.proteinuria %></p>
						<p>ematuria: <%= test.ematuria %></p>
            	<% end %>
            <% else %> NO <% end %>
            </td>
        	<td><% if microrna_patient.microrna?  %>SI 
        		<% else %>NO<% end %></td>	
        	<td><% if microrna_patient.dna?  %>SI 
        		<% else %>NO<% end %></td>		
        <td><%= link_to 'Show', microrna_patient %></td>
        <td><%= link_to 'Edit', edit_microrna_patient_path(microrna_patient) %></td>
        <td><%= link_to 'Destroy', microrna_patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
    <% end %> 
  </tbody>
</table>
</div>
<br>


