<%= form_for(@rna) do |f| %>
  <% if @rna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rna.errors.count, "error") %> prohibited this rna from being saved:</h2>

      <ul>
      <% @rna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  
  <div class="field">
    <%= f.collection_select(:file_type_id, FileType.all, :id, :label, :selected => @rna.file_type, :prompt => "--  Select type of file to upload --") %>
<%= link_to "add type of file", new_file_type_path %>
 </div> 
  
    <%= f.file_field :doc %>
    <br><br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
