<%= form_for(@firstclassification) do |f| %>
  <% if @firstclassification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firstclassification.errors.count, "error") %> prohibited this firstclassification from being saved:</h2>

      <ul>
      <% @firstclassification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <br />
    <br />
    
	 <%= f.fields_for :secondclassifications do |builder| %>
    <%= render "secondclassification_fields", :f => builder %>
    
  <% end %>
<%= link_to_add_fields "Add second classification", f, :secondclassifications %>

 
    
	
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>

<% end %>
