<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @modello1.first %>
</p>

<p>
  <strong>Name:</strong>
  <%= @modello1.name %>
</p>

<%= link_to 'Edit', edit_modello1_path(@modello1) %> |
<%= link_to 'Back', modello1s_path %>
