<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model1.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @model1.surname %>
</p>

<%= link_to 'Edit', edit_model1_path(@model1) %> |
<%= link_to 'Back', model1s_path %>
