<%= field_for :therapies do |f| %>
    <div class="field">
    <%= f.label :drug %><br />
    <%= f.text_field :drug %>
    </div>
    
     <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
    </div>
    
 <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
    </div>


<% end %>