<head>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
    <!-- Optional theme -->
     <link href="vendor/assets/stylesheets/bootstrap-tokenfield.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.1/typeahead.bundle.min.js"></script>
  <script src="vendor/assets/javascripts/bootstrap-tokenfield.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js" ></script> 
  <script src="vendor/assets/javascripts/bootstrap-tokenfield.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js" ></script> 
       <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
   <script type="text/javascript" src="http://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>


  </head> 
    <body>
    	
	
<div id="scrollable-dropdown-menu" class="col-md-8">
	
  
 <%= form_tag searches_search2_path, :method => :get do %><%= text_field_tag :query2, 
 	params[:query2], autocomplete: "off", placeholder: "search" %>
 	</div>
<%= submit_tag "   Search   ", :name => nil %>
<% end %>
<% 2.times do %> 
<br></br>
  <% end %> 
	 <div class="col-md-8"></div>

<div class="col-md-8">
<table id="myTable" class="table table-striped"><head>
<thead>
<th></th>
</thead>

<tbody>
<% @results.each do |result| %>
<tr><th><%= result.class  %></th>
<th><% model_name = result.class.to_s.underscore %></th>
<th><%= link_to "view", send("#{model_name}_path", result) %></th></tr>
<br>
<% end %>
