<h1>Listing stickurins</h1>

<table>
  <thead>
    <tr>
      <th>Proteinuria,</th>
      <th>Ematuria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stickurins.each do |stickurin| %>
      <tr>
        <td><%= stickurin.proteinuria, %></td>
        <td><%= stickurin.ematuria %></td>
        <td><%= link_to 'Show', stickurin %></td>
        <td><%= link_to 'Edit', edit_stickurin_path(stickurin) %></td>
        <td><%= link_to 'Destroy', stickurin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stickurin', new_stickurin_path %>
